/* Application Styles */
body {
    background-color: black
}

#container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 50px;
        }